@import url(normalize.css);
@import url(text.css);
@import url(timeline.css);
@import url(page.css);

body {
	background-color: #d3d5d1;
}

.left {
	float: left;
}

.right {
	float: right;
}

div.maintop {
	height: 140px;
	margin: 20px 0 0 20px;
	padding: 10px;
}

div.maintop .image {
	width: 150px;
	display: inline;
	float: left;
}

div.maintop .text {
	width: 270px;
	height: 100%;
	margin-left: 20px;
	display: inline;
	float: left;
	text-align: right;
	position: relative;
}

div.maintop .text .social {
	position: absolute;
	bottom: 0;
	right: 0;
}

a {
	text-decoration: none;
	color: #8d827d;
}

a:visited {
	color: #5079a6;
}

a:hover, a:active {
	color: #364364;
}

.clear {
  clear: both;
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}
