/* Style for the timeline. */

.timeline {
    width: 100%;
    height: 500px;
    position: relative;
    overflow: hidden;
}

.timeline .line {
    border-top: 4px solid rgb(141, 130, 125);
    border-bottom: 4px solid rgb(141, 130, 125);

    position: absolute;
    bottom: 50%;
}

.timeline .line #line-draggable {
    /* A large width here allows the years to flow off the edge of the screen.
       It should be the same width as all of the elements combined.
       width = (number of elements) * 200 - 60 */
    width: 1940px;
    left: -500px;
    padding: 20px 0px 20px 0px;

    font-size: 3em;
    color: #364364;
}

.timeline .line span {
    margin-left: 20px;
    margin-right: 80px;
    width: 100px;
}

.timeline .line span.last {
    margin-right: 20px;
}
