/* Style for the timeline. */

.timeline {
    width: 100%;
    padding: 25px 0px;
    position: relative;
    overflow: hidden;
}

.timeline .line {
    border-top: 4px solid rgb(141, 130, 125);
    border-bottom: 4px solid rgb(141, 130, 125);
    padding-top: 1px;
    padding-left: 0px;
    height: 50px;
}

.timeline .line #line-draggable {
    width: 100%;
    bottom: -8px;
    white-space: nowrap;
    cursor: default;

    font-size: 3em;
    color: #364364;
}

.timeline .line #line-draggable div {
    margin-left: 20px;
    margin-right: 80px;
    width: 100px;
    display: inline-block;
}

.timeline .line #line-draggable div.last {
    margin-right: 20px;
}

.timeline .bubble-container {
    height: 225px;
    width: 100%;
    position: relative;
}

.timeline .bubble-container .bubble {
    height: 150px;
    width: 200px;
    background-color: rgba(158, 164, 163, 0.25);
    border: 4px solid rgba(158, 164, 163, 1);
    border-radius: 10px;
    display: inline-block;
    padding: 5px;
    position: absolute;
    z-index: 1;
    color: rgb(141, 130, 125);
}

.timeline .bubble-container .bubble h1 {
    margin: 5px 5px 10px 0px;
}

.timeline .bubble-container .bubble-line {
    border: 1px solid rgba(141, 130, 125, 0.5);
    position: absolute;
}

.timeline a,
.timeline a:visited {
    text-decoration: none;
    color: #8d827d;
}

.timeline a:hover,
.timeline a:active {
    color: #364364;
}
